# Скрива файла с тайните
.env

# Скрива базата данни (SQLite) - така потребителите и данните ти НЕ отиват в GitHub
db.sqlite3
*.sqlite3

# Скрива служебните файлове на Python и PyCharm
__pycache__/
*.pyc
.idea/
venv/