{% load markdown_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Employees information</h1>
    <ul>
        {% for employee in context %}
        <li>
        <a href="{% url 'people:person_detail' person_id=employee.id %}">Employee name: {{ employee.name }}</a>
        <p>Employee Qualifications: </p>
        <ul>
            {% for qual in employee.qualifications.all %}
                <li>
                    <strong>{{ qual.university }} ({{ qual.date }}) </strong>
                    <div>{{ qual.courses|markdown_to_html }}</div>
                </li>
                {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ul>

</body>
</html>