<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is qualifications tab for {{ person.name }}</h1>
<ul>
    {% for qual in qualifications %}
    <li>
        <p>
            Qualifications: {{ qual.university }}
        </p>
        {% empty %}
        <p>No qualifications</p>
    </li>
    {% endfor %}
</ul>
{% if qualifications.courses %} - Neeeeds fixing
<h2>Additional courses:</h2>
 {% else %}
<h2>No courses</h2>
{% endif %}
<a href="{% url 'core:homepage' %}">Back to Homepage</a>
</body>
</html>